$btnControlLeft: 1rem !default;
$btnControlRight: 1rem !default;
$btnControlTop: 50% !default;
$btnWidthSize: 50px !default;
$btnHeightSize: 50px !default;
$btnBorderRadius: 100% !default;
$btnBg: rgb(255 255 255 / 1) !default;
$btnColor: rgb(3 3 3 / 0.7) !default;
$borderColor: rgb(239 239 239 / 1) !default;