@import "variable";

.carousel {
    position: relative;
    overflow-x: hidden;

    .carousel-slider {
        .carousel-contents {
            z-index: 20;
            position: relative;
            pointer-events: none;
            display: flex;
            flex-wrap: nowrap;

            .carousel-content-item {
                pointer-events: auto;
            }
        }
    }

    &.draggable {
        user-select: none;
        -webkit-user-drag: none;

        .carousel-slider {
            &.active {
                cursor: grabbing;
            }
            .carousel-contents {
                .carousel-content-item {
                    pointer-events: none;
                }
            }
        }
    }

    .control-left, .control-right {
        z-index: 999;
        position: absolute;
        border-radius: $btnBorderRadius;
        width: $btnWidthSize;
        height: $btnHeightSize;
        top: $btnControlTop;
        transform: translateY(-$btnControlTop);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(239 239 239 / 1);
        background-color: $btnBg;
        color: $btnColor;
        display: flex;
        justify-items: center;
        align-items: center;
        user-select: none;
        padding: 0.4375rem 0.875rem;
        text-align: center;
        vertical-align: middle;
        font-size: 0.8125rem;
        font-weight: 400;
        line-height: 1.5rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        cursor: pointer;

        i, span {
            text-align: center;
            width: 100%;
        }
    }

    .carousel .control-left {
        left: $btnControlLeft;
    }

    .control-right {
        right: $btnControlRight;
    }
}
