.carousel {
    position: relative;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
}
.carousel-contents {
    display: flex;
}
.btn-control {
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(239 239 239 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(3 3 3 / var(--tw-text-opacity));
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}
.carousel .control-left, .carousel .control-right {
    position: absolute;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    top: 50%;
}
.carousel .control-left {
    left: 1rem;
}
.control-right {
    right: 1rem;
}