$btnControlLeft: 1rem !default;
$btnControlRight: 1rem !default;
$btnControlTop: 50% !default;
$btnWidthSize: 50px !default;
$btnHeightSize: 50px !default;
$btnBorderRadius: 100%;
$btnBg: rgb(255 255 255 / 1);
$btnColor: rgb(3 3 3 / 0.7);