@import "variable";

.carousel {
    position: relative;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;

    .carousel-contents {
        display: flex;
        flex-wrap: nowrap;
    }

    .btn-control {
        border-width: 1px;
        border-style: solid;
        border-color: rgb(239 239 239 / var(1));
        background-color: $btnBg;
        color: $btnColor;
        position: relative;
        display: inline-block;
        user-select: none;
        border-radius: 0.5rem;
        padding: 0.4375rem 0.875rem;
        text-align: center;
        vertical-align: middle;
        font-size: 0.8125rem;
        font-weight: 400;
        line-height: 1.5rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        cursor: pointer;
    }

    .control-left, .control-right {
        position: absolute;
        font-size: 1.25rem;
        line-height: 1.75rem;
        border-radius: $btnBorderRadius;
        width: $btnWidthSize;
        height: $btnHeightSize;
        top: $btnControlTop;
    }

    .carousel .control-left {
        left: $btnControlLeft;
    }

    .control-right {
        right: $btnControlRight;
    }
}
